<div class='trip-header'>
  <h1 class='trip-title'><%= @trip.trip_name %></h1>
  <h2 class='trip-location'><%= @trip.trip_location %></h2>
  <h2 class='trip-dates'><%= @trip.trip_dates %></h2>
  <% if current_user.id == @trip.user_id %>
  <p class='edit-button'><%= link_to 'edit trip', edit_trip_path(@trip)%><p>
    <%end%>
</div>


  <div class='members'>
    <h2>Who is going on this trip?</h2>
    <h3><%= "Trip leader: " + @trip.user.name %></h3>
    <% index = 1%>
    <% @memberships.each do |membership| %>
        <p><% member = User.find(membership.user_id) %></p>
        <p><%= "#{index}. "%><span class='member-name'><%= "#{member.name} "%></span><%="(#{member.email})" %>
          <% if current_user.id == @trip.user_id %>
          <%= form_tag trip_membership_path(@trip, membership.id), method: "delete" do %>
            <%= submit_tag("remove from trip")%>
            <% index +=1 %>
            <%end%>
          <%end%>
        </p>
    <%end%>
    <% if current_user.id == @trip.user_id %>
    <p class='button'> <%=link_to 'add a member', new_trip_membership_path(@trip)%></p>
    <%end%>
  </div>

<div class='itinerary'>
  <div class='accommodations'>
    <h2>Itinerary Ideas</h2>

    <h3>Accommodations</h3>

    <% @accommodations.each do |acc| %>
        <p class='ac-link'><%=link_to acc.acc_name, acc.acc_link %></p>
        <p><%= acc.acc_location %></p>
        <p><%= "$#{acc.acc_cost}" %></p>
        <p class='edit-button'><%= link_to 'edit accommodation', edit_trip_accommodation_path(@trip, acc.id)%><p>
        <%= form_tag trip_accommodation_path(@trip, acc.id), method: "delete" do %>
          <%= submit_tag("remove from itinerary")%>
          <%end%>
    <%end%>
    <p class='button'> <%=link_to 'add an accommodation', new_trip_accommodation_path(@trip)%> </p>
    <p class='button'> <%=link_to 'search for accommodations', trip_accommodations_path(@trip)%> </p>
    <p class='power'>search powered by Zilyo
      <%= link_to image_tag("https://crunchbase-production-res.cloudinary.com/image/upload/c_pad,h_58,w_58/v1397752273/1695424cd9bb56a32dfc138d0d4d9a79.png", height: "50", width: "50"), "https://zilyo.com/" %></p>
  </div>

  <div class='activitives'>
    <h3>Activities</h3>
    <% @activities.each do |activity| %>
        <p class='ac-link'><%= link_to activity.act_name, activity.link %></p>
        <p><%= activity.act_location %></p>
        <p class='edit-button'><%= link_to 'edit activity', edit_trip_activity_path(@trip, activity.id)%><p>
        <%= form_tag trip_activity_path(@trip, activity.id), method: "delete" do %>
          <%= submit_tag("remove from itinerary")%>
          <%end%>
    <%end%>
    <p class='button'> <%=link_to 'add an activity', new_trip_activity_path(@trip)%> </p>
    <p class='button'> <%=link_to 'search for activities', trip_activities_path(@trip)%> </p>
    <p class='power'>search powered by
    <%= link_to image_tag("http://www.hungrytowntours.com/Yelp_Logo.png", height: "50", width: "50"), "http://www.yelp.com/"%></p>
  </div>
</div>


  <div class='notes'>
    <h2>Notes</h2>

    <% @notes.each do |note| %>
    <p><span class='member-name'><%= "#{note.author}: "%></span><%="#{note.body}" %>
    <%end%>
    <p class='button'> <%=link_to 'add a note', new_trip_note_path(@trip)%> </p>
  </div>
