<div class='form'>
<% if @membership.errors.any? %>

    <% @membership.errors.full_messages.each do |err|%>
    <p class='error'><%=err%></p>
    <%end%>

<%end%>
    <h3>Add a member to your trip</h3>

    <%= form_for [@trip, @membership] do |f| %>
      <p>
      <%= f.label :user_email, "Member's email address" %>
      <%= text_field_tag :user_email %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>

      <p>
      <%= f.submit "Add to trip" %>
      </p>

    <%end%>

    <p class='button'><%=link_to "back to trip", trip_path(@trip)%></p>
</div>
