
<div class='form'>

  <% if @note.errors.any? %>
  <ul>
      <% @note.errors.full_messages.each do |err|%>
      <li> <%=err%></li>
      <%end%>

  </ul>
  <%end%>

    <%= form_for [@trip, @note] do |f| %>

      <p>
      <%= f.label :body, "Post to the group" %>
      <%= f.text_area :body  %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>
      <%= f.hidden_field :author, :value => current_user.name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <p>
      <%= f.submit %>
      </p>

    <%end%>

    <p class='button'><%=link_to "back to trip", trip_path(@trip)%></p>
    
</div>
