
    <%= form_for [@trip, @note] do |f| %>

      <p>
      <%= f.label :body %>
      <%= f.text_field :body  %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>
      <%= f.hidden_field :author, :value => current_user.email %>

      <p>
      <%= f.submit %>
      </p>

    <%end%>
