<div class='form'>

  <% if @accommodation.errors.any? %>

      <% @accommodation.errors.full_messages.each do |err|%>
      <p class='error'><%=err%></p>
      <%end%>

  <%end%>


    <h3>Add an accommodation to your trip:</h3>

    <%= form_for [@trip, @accommodation] do |f| %>
      <p>
      <%= f.label :acc_name, "Name" %>
      <%= f.text_field :acc_name  %>
      </p>

      <p>
      <%= f.label :acc_location, "Address" %>
      <%= f.text_field :acc_location  %>
      </p>

      <p>
      <%= f.label :acc_cost, "Cost per night" %>
      <%= f.text_field :acc_cost  %>
      </p>

      <p>
      <%= f.label :acc_link, "Link to accommodation" %>
      <%= f.text_field :acc_link  %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>

      <p>
      <%= f.submit %>
      </p>

    <%end%>
    <p class='button'><%=link_to "back to trip", trip_path(@trip)%></p>

</div>
