
<div class='form'>
  <% if @activity.errors.any? %>

      <% @activity.errors.full_messages.each do |err|%>
      <p class='error'><%=err%></p>
      <%end%>

  <%end%>

  <h3>Add an activity to your trip</h3>

    <%= form_for [@trip, @activity] do |f| %>
      <p>
      <%= f.label :act_name, "Activity" %>
      <%= f.text_field :act_name  %>
      </p>

      <p>
      <%= f.label :act_location, "Location" %>
      <%= f.text_field :act_location  %>
      </p>

      <p>
      <%= f.label :link, "Link" %>
      <%= f.text_field :link  %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>

      <p>
      <%= f.submit %>
      </p>

    <%end%>
    <p class='button'><%=link_to "back to trip", trip_path(@trip)%></p>

  </div>
