
    <%= form_for [@user, @trip, @member] do |f| %>
      <p>
      <%= f.label :member_name %>
      <%= f.text_field :member_name  %>
      </p>

      <p>
      <%= f.label :member_email %>
      <%= f.text_field :member_email %>
      </p>

      <%= f.hidden_field :trip_id, :value => @trip.id %>

      <p>
      <%= f.submit %>
      </p>

    <%end%>
